<div class="my-container">
    <div class="my-section">
        <div class="left-image">
            <p>Welcome TO Project Name</p>
        </div>
        <div class="right-login">
            <form action="">
                <input type="text" placeholder="Username" name="name">
                <input type="text" placeholder="Password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
    <div class="my-footer">

    </div>
</div>