 <div class="container">
    <div class="my-box heading-text-div">
        <p class="heading-text">Building a better digital world</p>
        <p class="heading-content">We are designers, engineers, and strategists. We brand, design, and build products and platforms. Happily independent since 1999.</p>
    </div>
    <div class="my-box video-div">
        <video src="/assets/org-video.mp4" autoplay ></video>
    </div>
    <div class="my-box our-client">
        <div class="our-client-heading">
            <p>{{'our clients include' | uppercase}}</p>
        </div>
        <div class="out-client-client-images">
            <img src="/assets/client-image/1.svg" alt="">
            <img src="/assets/client-image/2.svg" alt="">
            <img src="/assets/client-image/3.svg" alt="">
            <img src="/assets/client-image/4.svg" alt="">
            <img src="/assets/client-image/5.svg" alt="">
            <img src="/assets/client-image/6.svg" alt="">
            <img src="/assets/client-image/7.svg" alt="">
            <img src="/assets/client-image/8.png" alt="">
            <img src="/assets/client-image/9.svg" alt="">
            <img src="/assets/client-image/10.svg" alt="">
            <img src="/assets/client-image/11.svg" alt="">
            <img src="/assets/client-image/12.svg" alt="">
            <img src="/assets/client-image/13.svg" alt="">
            <img src="/assets/client-image/14.svg" alt="">
        </div>
    </div>
 </div>

 