<div class="my-container">
    <div class="top-header">

    </div>
    <div class="left-nav">
        <div class="my-logo">
            <p>LOGO</p>
        </div>
        <ul>

            <li>
                <div class="icon-div"><a href="#"><i class="bi bi-house"></i></a>
                    <p>Home</p>
                </div>
            </li>
            <li>
                <div class="icon-div"><a href="#"><i class="bi bi-person"></i></a>
                    <p>Me</p>
                </div>
            </li>
            <li>
                <div class="icon-div"><a href="#"><i class="bi bi-inbox"></i></a>
                    <p>Inbox</p>
                </div>
            </li>
            <li>
                <div class="icon-div"><a href="#"><i class="bi bi-people"></i></a>
                    <p>My Team</p>
                </div>
            </li>
            <li>
                <div class="icon-div"><a href="#"><i class="bi bi-building"></i></a>
                    <p>Org</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="my-section">
    </div>
</div>